##### OS FILES
.DS_Store
.history

##### Editors
.*.swp
.idea
.vscode
.vs
*.iml
*.sublime-project
*.sublime-workspace

##### BUILD
node_modules/
npm-debug.log
*.log
logs/
build/
version.txt
geodata.bin.tmp
sd_cache/

##### ENVIRONMENT
.env

##### TESTS
.nyc_output/
